{{ define "main" }}
{{ if eq .Section "notes"}}
<h2 class="arttitle heavy">{{ .Title }}</h2>
<aside>{{ .TableOfContents }}</aside>
<div class="page">
    {{ .Content }}
</div>
{{ else }}
<h2 class="arttitle heavy">{{ .Title }}</h2>
<span>
    {{ .PublishDate.Format "January 2, 2006" }} -
    Tags:
    {{ range (.GetTerms "tags") }}
        <a href="{{ .RelPermalink }}" class="heavy" style="color: #fff; text-decoration: none;">
            {{ .LinkTitle }}
        </a>
    {{ end }}
</span>
<aside>{{ .TableOfContents }}</aside>
<div class="page">
    {{ .Content }}
</div>
{{ end }}
{{ end }}
